
.header1{
    background-color: #1B263B;
    width: 100vw;
    height: 60px;
    position: fixed;
    z-index: 1000;
}

.header2{
    margin: 0;
    color: white;
    font-size: 40px;
    margin-left: 20px;

}

.navigation-bar{
    position: absolute;
    right: 200px;
    top: 15px;
    font-size: 22px;

}

.nav .navigation-bar>a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.navigation-bar> a:hover{
    color: #90e0ef;
}


navigation-bar>a:last-child {
    margin-right: 0;
}

.section1{
    background-color: #415A77;
    height: 100vh;

}


.header3{
    font-size: 60px;
    margin-left: 50px;
    margin-top: 120px;
}

.text1{
    margin: 0;
}

.span1{
    color: black;
    margin-left: 50px;
    font-size:50px;
}

.span2{
    color: white;
    font-size: 60px;
    margin-left: 10px;
 }

.img{
    position: relative;
    text-align: right;
    margin: 0;
    right: 150px;
    top: 0;
}

#img1{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    position: absolute;
    margin-top: 10px;
    top: -165px;
    right: 25px;
}

.icons{
    position: relative;
    margin-left: 55px;
    bottom: -200px;
    margin-bottom: 0;

}

.section2{
   height: 100vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6fff8+0,f6fff8+26,778da9+100,778da9+100 */
    background: linear-gradient(to bottom,  rgba(246,255,248,1) 0%,rgba(246,255,248,1) 26%,rgba(119,141,169,1) 100%,rgba(119,141,169,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: relative;

}

.about{
    font-size: 40px;
    text-align: center;
    margin: 0;
    position: relative;
    top: 40px;
}

.desc1{
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 50px;
}

.para1{
    text-align: center;
    font-size: 30px;
    line-height: 3;
    position: relative;
    top: 60px;
}

.btnCv{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: #415A77;
    color: white;
    font-size: 20px;
    position: relative;
    top:85px;
    margin-left: 950px;
}

.section3{
    background-color: #415A77;
    height: 100vh;
}

.header4{
    font-size: 42px;
    color: white;
    text-align: center;
    margin: 0;
    position: relative;
    top: 40px;
}

.desc2{
    width: 65vw;
    height: 120px;
    border-radius: 25px;
    background-color: white;
    position: relative;
    top: 100px;
    left: 220px;
    
}

.desc3{
    width: 65vw;
    height: 120px;
    border-radius: 25px;
    background-color: white;
    position: relative;
    top: 210px;
    left: 220px;
}

.img1{
    position: relative;
    top: 20px;
    left: 50px;
}

.p1{
    position: relative;
    width: fit-content;
    font-size: 32px;
    top: -40px;
    /*left: 120px;*/
    left: 270px;
    margin: 0;

}








@media all  and(max-width: 1440px){
    .header1{
        width: 100vw;
        height: 60px;

    }

    .header2{
        font-size: 40px;
        margin-left: 30px;
        margin-top: 30px;

    }

    .navigation-bar{
        position: absolute;
        right: 100px;
        top: 20px;

    }

    .header3{
        font-size: 50px;

    }

    .span1{
        font-size:40px;
    }

    .span2{
        font-size: 50px;
    }

    .img{
        position: relative;
        text-align: right;
        margin: 0;
        right: 100px;
        top: 0;
    }

    #img1{
        width: 200px;
        height: 200px;
        top: -120px;
        right: 25px;
    }

    .icons{
        bottom: -180px;
    }


}

@media all and (max-width: 1024px){
    .header1{
        width: 100vw;
        height: 60px;

    }

    .header2{
        font-size: 30px;
        margin-left: 30px;
        margin-top: 10px;

    }

    .navigation-bar{
        position: absolute;
        right: 100px;
        top: 15px;
        font-size: 22px;

    }

    .header3{
        font-size: 50px;

    }

    .span1{
        font-size:40px;
    }

    .span2{
        font-size: 50px;
    }

    .img{
        position: relative;
        text-align: right;
        margin: 0;
        right: 100px;
        top: 0;
    }

    #img1{
        width: 200px;
        height: 200px;
        top: -120px;
        right: 25px;
    }

    .icons{
        bottom: -180px;
    }

    .about{
        font-size: 35px;
    }

    .desc1{
        font-size: 20px;

    }

    .para1{
        text-align: center;
        width: 80vw;
        font-size: 25px;
        line-height: 2;
        position: relative;
        top: 60px;
    }

    .btnCv{
        width: 150px;
        height: 40px;
        border-radius: 25px;
        background-color: #415A77;
        font-size: 20px;
        color: white;
        position: relative;
        top:85px;
        margin-left: 700px;
    }


}

@media all and(max-width: 960px){

}


@media all  and (max-width: 768px){

}

@media all  and (max-width: 425px){

}

@media all  and (max-width: 375px){

}
@media all  and (max-width: 320px){

}
