
.header1{
    background-color: #1B263B;
    width: 100vw;
    height: 60px;
    position: fixed;
}

.header2{
    margin: 0;
    color: white;
    font-size: 40px;
    margin-left: 20px;

}

.navigation-bar{
    position: absolute;
    right: 200px;
    top: 15px;
    font-size: 22px;

}

.nav .navigation-bar>a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.navigation-bar> a:hover{
    color: #90e0ef;
}


navigation-bar>a:last-child {
    margin-right: 0;
}

.section1{
    background-color: #415A77;
    height: 100vh;

}


.header3{
    font-size: 60px;
    margin-left: 50px;
    margin-top: 120px;
}

.text1{
    margin: 0;
}

.span1{
    color: black;
    margin-left: 50px;
    font-size:50px;
}

.span2{
    color: white;
    font-size: 60px;
 }

.img{
    position: relative;
    text-align: right;
    margin: 0;
    right: 150px;
    top: 0;
}

#img1{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    position: absolute;
    margin-top: 10px;
    top: -165px;
    right: 25px;
}

.icons{
    position: relative;
    margin-left: 55px;
    bottom: -200px;
    margin-bottom: 0;

}

.section2{
   height: 100vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6fff8+0,f6fff8+26,778da9+100,778da9+100 */
    background: linear-gradient(to bottom,  rgba(246,255,248,1) 0%,rgba(246,255,248,1) 26%,rgba(119,141,169,1) 100%,rgba(119,141,169,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}

.about{
    font-size: 40px;
    text-align: center;
}

.desc1{
    font-size: 20px;
    text-align: center;

}
.para1{

    text-align: center;
}

@media all  and(max-width: 1440px){

}

@media all and (max-width: 1024px){
    .header1{

        width: 100vw;
        height: 60px;

    }

    .header2{
        font-size: 30px;
        margin-left: 30px;
        margin-top: 10px;

    }

    /*.navigation-bar{
        position: absolute;
        right: 100px;
        top: 15px;
        font-size: 22px;

    }

    .header3{
        font-size: 50px;

    }

    .span1{
        font-size:40px;
    }

    .span2{
        font-size: 50px;
    }

    .img{
        position: relative;
        text-align: right;
        margin: 0;
        right: 100px;
        top: 0;
    }

    #img1{
        width: 200px;
        height: 200px;
        top: -120px;
        right: 25px;
    }

    .icons{
        bottom: -180px;
    }*/
}



@media all  and (max-width: 768px){

}

@media all  and (max-width: 425px){

}

@media all  and (max-width: 375px){

}
@media all  and (max-width: 320px){

}
